@model CarMat.ViewModels.OffersWithFiltersViewModel

@{
    ViewData["Title"] = "Filtruj";
}

@section stylesheets{
    <link rel="stylesheet" href="~/lib/jquery-ui/themes/base/jquery-ui.css" />
}

@section scripts
{
    <script src="~/lib/jquery-ui/jquery-ui.js"></script>
    <script src="~/js/modelBrandAutocomplete.js"></script>
    <script src="~/js/modelBrandAutocomplete.js"></script>
}

<section class="filters-horizontal page-header">
    <h1 class="text-center">
        <i class="fa fa-caret-down"></i> Wyniki wyszukiwania
    </h1>


    <div class="filter-form">

        <form asp-action="Filter" asp-controller="Home" method="post" class="form-inline">

            <input asp-for="Filters.Query" hidden />

            <div class="form-group">
                <label>Cena</label>
                <div class="input-group">
                    Od:
                    <input asp-for="Filters.PriceFrom" class="form-control" type="number" />
                    Do:
                    <input asp-for="Filters.PriceTo" class="form-control" type="number" />
                </div>
            </div>


            <div class="form-group">
                <label>Pojemność</label>
                <div class="input-group">
                    Od:
                    <input asp-for="Filters.EngineCapacityFrom" class="form-control" type="number" />
                    Do:
                    <input asp-for="Filters.EngineCapacityTo" class="form-control" type="number" />
                </div>
            </div>


            <div class="form-group">
                <label>Rok produkcji</label>
                <div class="input-group">
                    Od:
                    <input asp-for="Filters.ProductionYearFrom" class="form-control" type="number" />
                    Do:
                    <input asp-for="Filters.ProductionYearTo" class="form-control" type="number" />
                </div>
            </div>


            <div class="form-group">
                <label>Zarejestrowane w polsce</label>
                <input asp-for="Filters.IsRegistered" class="form-control" type="checkbox" />
            </div>


            <div class="form-group">
                <label>Uszkodzone</label>
                <input asp-for="Filters.IsDamaged" class="form-control" type="checkbox" />
            </div>


            <div class="form-group">
                <label>Marka</label>
                <input asp-for="Filters.VehicleBrand" id="vehicle-brand" class="form-control" type="text" placeholder="Wpisz pierwszą literę i wybierz z listy..." />
            </div>


            <div class="form-group">
                <label>Model</label>
                <input asp-for="Filters.VehicleModel" id="vehicle-model" class="form-control" type="text" placeholder="Wpisz pierwszą literę i wybierz z listy..." />
            </div>


            <div class="form-group">
                <input type="submit" class="btn btn-info" value="Filtruj" />
            </div>
        </form>
    </div>

</section>



<section class="offers container-fluid">
    @if (Model.Offers.Any())
    {
        @foreach (var offer in Model.Offers)
        {
            <div class="offer">
                <div class="offer-photo">
                    <img class="img-responsive" src="~/images/bmw.jpg" />
                </div>
                <div class="offer-description">
                    <h1>@offer.Title</h1>
                    <p>Przebieg: @offer.Mileage km, Rok: @offer.ProductionYear, Pojemność silnika: @offer.EngineCapacity cm<sup>3</sup></p>
                    <h3>@offer.Price.ToString("c")</h3>
                    <a asp-action="Details" asp-controller="Offers" asp-route-offerId="@offer.Id" class="btn btn-info">Zobacz pełną ofertę</a>
                    @if (User.Identity.IsAuthenticated && offer.BelongsToCurrentUser == false)
                    {
                        @if (offer.IsWatched)
                        {
                            <button class="btn btn-success js-watch" data-offerId="@offer.Id">Obserwujesz</button>
                        }
                        else
                        {
                            <button class="btn btn-default js-watch" data-offerId="@offer.Id">Obserwuj</button>
                        }

                    }
                </div>
            </div>
        }
    }
    else
    {
        <h4 class="text-center">Brak wyników spełniających wyszukiwane kryteria</h4>
        <div class="text-center">
            <a asp-action="Index" asp-controller="Home" class="btn btn-info"><i class="fa fa-rotate-left"></i> Wróć</a>
        </div>
    }

</section>


