@model IEnumerable<CarMat.Models.Offer>

    @{
        ViewData["Title"] = "Strona główna";
    }

    <section class="most-popular">
        <h1 class="page-header text-center">
            <i class="fa fa-gavel"></i> Najpopularniejsze
        </h1>

        <div class="row container-fluid">
            <ul class="top-vehicles">
                @foreach (var offer in Model.Take(4))
                {
                    <li class="col-lg-3">
                        <img class="img-responsive" src="~/images/audi.jpg" />
                        <div class="top-description">
                            <h4 class="text-info">@offer.Price.ToString("c")</h4>
                        </div>
                        <div class="bottom-description">
                            <h2>@offer.Title</h2>
                            <a asp-action="Details" asp-controller="Offers" asp-route-offerId="@offer.Id" class="top-button">ZOBACZ</a>
                        </div>
                    </li>
                }
            </ul>
        </div>
    </section>



    <section class="filters">
        <h1 class="page-header text-center">
            <i class="fa fa-caret-right"></i> Filtruj
        </h1>
    </section>



    <section class="offers container-fluid">
        @foreach (var offer in Model.Skip(4))
        {
            <div class="offer">
                <div class="offer-photo">
                    <img class="img-responsive" src="~/images/bmw.jpg" />
                </div>
                <div class="offer-description">
                    <h1>@offer.Title</h1>
                    <p>Przebieg: @offer.Vehicle.Mileage km, Rok: @offer.Vehicle.ProductionYear, Pojemność silnika: @offer.Vehicle.EngineCapacity cm3</p>
                    <h3>@offer.Price.ToString("c")</h3>
                    <a asp-action="Details" asp-controller="Offers" asp-route-offerId="@offer.Id" class="btn btn-info">Zobacz pełną ofertę</a>
                </div>
            </div>
        }
</section>
