@model CarMat.ViewModels.OfferViewModel

@{ 
    ViewData["Title"] = "Dodaj ogłoszenie";
}

@section stylesheets{
    <link rel="stylesheet" href="~/lib/jquery-ui/themes/base/jquery-ui.css" />
}

@section scripts{
    <script src="~/lib/jquery-ui/jquery-ui.js"></script>
    <script src="~/js/create.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
}

<section>
    <h1 class="page-header text-center">
        <i class="fa fa-plus"></i> Dodaj ogłoszenie
    </h1>
</section>

<section>

    <div class="row">
        <form class="new-offer-form form-group col-lg-offset-2 col-lg-8" method="post">

            <div class="text-danger" asp-validation-summary="ModelOnly"></div>

            <div class="form-group">
                <label asp-for="Title"></label>
                <span class="text-danger" asp-validation-for="Title"></span>
                <input class="form-control" asp-for="Title" placeholder="Maksymalnie 50 znaków" />
            </div>

            <div class="form-group">
                <label asp-for="Price"></label>
                <span class="text-danger" asp-validation-for="Price"></span>
                <input type="number" class="form-control" asp-for="Price" />
            </div>

            <div class="form-group">
                <label asp-for="Description"></label>
                <span class="text-danger" asp-validation-for="Description"></span>
                <textarea rows="5" class="form-control" asp-for="Description"></textarea>
            </div>

            <div class="form-group">
                <label asp-for="DateFinished"></label>
                <span class="text-danger" asp-validation-for="DateFinished"></span>
                <input type="date" value="@Model.GetTommorowsDate()" min="@Model.GetTommorowsDate()" max="@Model.GetDateFourteenDaysFromToday()" class="form-control" asp-for="@Model.DateFinished" />
            </div>

            <div class="separator"></div>

            <div class="form-group">
                <label asp-for="Vehicle.VehicleBrand"></label>
                <span class="text-danger" asp-validation-for="Vehicle.VehicleBrand"></span>
                <input id="vehicle-brand" class="form-control"  asp-for="Vehicle.VehicleBrand" placeholder="Wpisz pierwszą literę i wybierz markę z listy..." />
            </div>

            <div class="form-group">                
                <label asp-for="Vehicle.VehicleModel"></label>
                <span class="text-danger" asp-validation-for="Vehicle.VehicleModel"></span>
                <input id="vehicle-model" class="form-control" asp-for="Vehicle.VehicleModel" placeholder="Wpisz pierwszą literę i wybierz model z listy..." />
            </div>

            <div class="form-group">
                <label asp-for="Vehicle.isDamaged"></label>
                <input class="form-control" asp-for="Vehicle.isDamaged" />
            </div>

            <div class="form-group">
                <label asp-for="Vehicle.isRegistered"></label>
                <input class="form-control" asp-for="Vehicle.isRegistered" />
            </div>

            <div class="form-group">
                <label asp-for="Vehicle.EngineCapacity"></label>
                <span class="text-danger" asp-validation-for="Vehicle.EngineCapacity"></span>
                <input class="form-control" asp-for="Vehicle.EngineCapacity" placeholder="Pojemność w cm3.." />
            </div>

            <div class="form-group">                
                <label asp-for="Vehicle.Mileage"></label>
                <span class="text-danger" asp-validation-for="Vehicle.Mileage"></span>
                <input class="form-control" asp-for="Vehicle.Mileage" placeholder="Przebieg w kilometrach..." />
            </div>

            <div class="form-group">                
                <label asp-for="Vehicle.ProductionYear"></label>
                <span class="text-danger" asp-validation-for="Vehicle.ProductionYear"></span>
                <input class="form-control" asp-for="Vehicle.ProductionYear" placeholder="Rok produkcji..." min="1900" max="@DateTime.Today.Year" />
            </div>

            <div class="separator"></div>

            <div class="form-group">
                <input type="submit" class="btn btn-lg btn-success" value="Dodaj">
                <a asp-action="Index" asp-controller="Home" class="btn btn-lg btn-danger"><i class="fa fa-minus-circle"></i> Anuluj</a>
            </div>


        </form>
    </div>

</section>