@model List<CarMat.ViewModels.SimpleOfferViewModel>

@{ 
    ViewData["Title"] = "Moje ogłoszenia";
}

<section>
    <h1 class="page-header text-center">
        <i class="fa fa-gavel"></i> Moje ogłoszenia
    </h1>
</section>

<section class="offers container-fluid">
    @foreach (var offer in Model)
    {
        <div class="offer">
            <div class="offer-photo">
                <img class="img-responsive" src="~/images/bmw.jpg" />
                @if (offer.DateFinished < DateTime.Today)
                {
                    <h2 class="text-danger offer-end-label">ZAKOŃCZONO!</h2>
                }

            </div>
            <div class="offer-description">
                <h1>@offer.Title</h1>
                <p>Przebieg: @offer.Mileage km, Rok: @offer.ProductionYear, Pojemność silnika: @offer.EngineCapacity cm<sup>3</sup></p>
                <h3>@offer.Price.ToString("c")</h3>
                <a asp-action="Details" asp-controller="Offers" asp-route-offerId="@offer.Id" class="btn btn-info">Zobacz pełną ofertę</a>
                <a asp-action="Edit" asp-controller="Offers" asp-route-offerId="@offer.Id" class="btn btn-success">Edytuj</a>
                <a asp-action="Delete" asp-controller="Offers" asp-route-offerId="@offer.Id" class="btn btn-danger">Usuń</a>
            </div>
        </div>
    }
</section>